h1 {
    font-size: 2em;
    margin: 0;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 2em;
  }
  
  button {
    background-color: #4abdac;
    color: white;
    border-radius: 0.5em;
    border: none;
    padding: 1em;
    cursor: pointer;
  }
  button:hover {
    background-color: #59C3B3;
  }
  button:focus {
    outline:0;
  }
  
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  
.categcontainingdiv{
  margin-top: 0px;
   width: 80%;
}
  
  
  
  /*** ACCORDION ***/
  /* .accordion{
    width:50%;
  } */
  /* Header */
  .accordion{
    width:100%;
  }
  .accordion > div > div:first-of-type {
    width:auto;
    
    padding: 6px;
    background-color: #4abdac;
    color: white;
    text-transform: uppercase;
    user-select: none;
    font-weight: 200;
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: 0 -10px 30px 2px rgba(0, 0, 0, 0.1) inset;
  }
  .accordion > div > div:first-of-type:hover {
    width:auto;
    background-color: #59C3B3;
  }
  
  /* Content */
  .accordion > div > div:last-of-type {
    background-color: #f9f9f9;
    width:auto;
    margin: 0 0;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* Inner */
  .accordion .accordion-item {
    width:auto;
    padding: 5px;
    opacity: 0;
    transition: opacity 300ms ease;
    overflow: auto;
  }
  .accordion > div:first-child .accordion-item {
    max-height: auto;
    width:auto;
    
  }
  .accordion > div.open .accordion-item {
    width:auto;
    opacity: 1;
    transition: opacity 700ms ease;
  }
  .accordion img.accordion-item {
    padding: 0;
    margin: 0;
    width: 60%;
  }
  .productname .addbtn{
    float: right;
     margin-right: 30px;
  }
.productname{
  min-height:22px;
  margin-left: 30px;

}
h1 {
  margin: 0px;
  padding: 10px;
  color: #333;
  font-size: 26px;
  background: #ddd;
  border-bottom: 1px solid #ccc;
}
.accor{
  margin: 10px;
  border: 1px solid #ddd;
  transition: 0.4s;
}
  .head{
    background: #eee;
    padding: 10px 20px;
    height: 32px;
    cursor: pointer;
  }
  .bodyDiv{
    background: #fafafa;
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    transition: 200ms ease-in-out;
  }
 .activatedDiv{
   background-color: red;
    padding: 10px 20px;
    height: 600px;
    transition: 200ms ease-in-out;
    
 }




  