.backToCat{
margin-right: 40px;
margin-left: 40px;
float:right;
}
.btnremove{
    float:right;
    float:right;
    visibility:hidden;
}
.tableprodselected tbody tr:hover .btnremove {
    visibility:visible;
    cursor:pointer;
}
.tableprodselected{
    margin-top: 10px;
    margin-left: 40px;
    border: 1px solid black;
    height: 40px;
    min-width: 300px;
}
.tableprodselected tbody{
    margin-top: 10px;
    height: 40px;
    min-width: 300px;
    border: 1px solid black;
    
}
.tableprodselected tbody tr{
    margin-top:10px;
      border:1px solid rgb(85, 85, 85);
      height: 40px;
    max-width: 300px;  
    text-align: center;
    /* border-collapse: collapse; */
    cursor:pointer;
    
}
.tableprodselected tbody tr td{
    text-align: center;
    border:none;
      padding:10px;
  }
.tablename{
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 40px;
    height: 40px;
    max-width: 300px;
    font-weight: 400;
    font-size: 23px;
}
.tableprodselected thead tr th{
  text-align: center;
  padding:10px;
    
}


.tableprodselected tbody tr:nth-child(2n){
    height: 40px;
    /* max-width: 300px; */
    background-color: rgb(201, 231, 247);
    
}
.tableprodselected .tablehead{
    margin-top: 40px;
    height: 40px;
    max-width: 300px;
    background-color: rgb(247, 243, 243);
    
}
.cartcontainingdiv{
    width: 80% ;
}
.noprod-selected{
    margin: 30px;
    color: red;
}