.container, .row{
    width:100%;
    height:100%;
}
.custom {
    margin-left: 20px;
    height: auto;
}
.product button {
    border: none;
    border-radius: 2px;
    line-height: 1px;
    width: 96px;
    height: 29px;
    font-size: 11px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
    margin-right: 50px; 
    color: black;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
  }
.addButton{
    background-position: center;
    transition: background 0.8s;
}
.addButton:focus{
    outline: none;
}

.addButton:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
.addButton:active{
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}
.accor-title .fa {
    font-family: FontAwesome;
    float: right;
    margin-right: 20px;
    transform: rotate(0deg);
}

.activeTitle .fa {
    transform: rotate(90deg);
}   
    
.product{
    height:32px;
    margin-left: 20px;
    padding-left: 10px;
    line-height: 33px;    
    font-size: 18px;
    font-family:Verdana, Geneva, sans-serif;
}
.accor-title {
    height:32px;
    cursor:pointer;
    background: green;
    border: 1px solid rgb(168, 168, 168);
    color:white;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 100;
    font-family:Verdana, Geneva, sans-serif;
}
.accor-body {
    height: 0px;
    overflow: hidden;    
    transition:  height 600ms ease;
}