
.cartBtn{
  float:right;
  color: rgb(104, 40, 40);
cursor: pointer;
cursor:pointer;
margin-right:20px;
margin-top:18px;
padding: 8px;
font-size:24px;
 color: rgb(0, 122, 122);
 

}
.cartBtn div{
 display: block;
  
}
.signout{
    float: right;
    margin:20px;
    cursor: pointer;
    padding:10px;
}
.numberanimation{
  right: 4px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  float: right;
  margin-top: 0px;
  background-color: rgb(222, 48, 48);
  min-width: 16px;
  min-height: 16px;
  padding: 0px;
  line-height: 19px;
  border: 1px solid white;
  border-radius: 105px 105px 105px 105px;
}
.numberanimation b{
  position: relative;
  color: white;
  padding: 2px;
  font-size: 15px;
  line-height: 14px;
  font-weight: 40;
}