
.registerdiv{
background: rgb(221, 221, 221);
width:100%;
height:100%;
display: flex;
justify-content: center;
align-items: center;

				.registerform{
				background: #fff;
				width: 14%;
				min-height: 25%;
				padding: 30px;
				div{
						margin-top: 20px;
					
					label{
						margin-top: 20px;
						}
				}

							// .RegisterInput{
						    // width:100%;
							// height: 20px;
							// color:red;
							// border: 1px solid #c3c3c3;
							input{
								width:100%;
							margin-bottom:6px;
								
							}
							span{
							color:red;

							}
							margin-top:6px;
							}
							.registerlabel{
						    width: 160px;
							display:inline-block;
							margin-top:30px;
							margin-bottom:0px;
							height: 20px;
							}

							.registerbutton{
								display:inline-block;
							float: right;
							width: 94px;
							height: 36px;
							margin: 50px 20px;
							font-size: 14px;
							color: #d1251f;
							border: 1px solid #d1251f;
							border-radius: 20px 20px 20px 20px;
							outline: none;
							&:hover{
							cursor:pointer;
							background:rgb(248, 187, 187);
							}
							}
				// }
      }

