.registerdiv {
  background: #dddddd;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .registerdiv .registerform {
    background: #fff;
    width: 250px;
    min-height: 25%;
    padding: 26px; }
    .registerdiv .registerform div {
      margin-top: 6px; 
      margin: 10px;}
      .registerdiv .registerform div label {
        margin-top: 6px; 
        margin: 10px;}
      .registerdiv .registerform .registerinput span {
        color: red; }
    .registerdiv .registerform .registerlabel {
      width: 160px;
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 0px;
      height: 20px; }
    .registerdiv .registerform .registerbutton {
      display: inline-block;
      float: center;
      width: 94px;
      height: 36px;
      margin: 50px 20px;
      font-size: 14px;
      color: #d1251f;
      border: 1px solid #d1251f;
      border-radius: 20px 20px 20px 20px;
      outline: none; }
      
      .registerdiv .registerform a {
        cursor: pointer;
        background:white;
      margin-left:6px; }
      .registerdiv .registerform button {
        cursor: pointer;
        background:white;
        border:0px;
      margin-left:6px; }